<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="enterprise">
      <h2 data-cy="enterpriseDetailsHeading"><span jhiTranslate="readyToPlanBeApp.enterprise.detail.title">Enterprise</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ enterprise.id }}</span>
        </dd>
        <dt><span jhiTranslate="readyToPlanBeApp.enterprise.enterpriseName">Enterprise Name</span></dt>
        <dd>
          <span>{{ enterprise.enterpriseName }}</span>
        </dd>
        <dt><span jhiTranslate="readyToPlanBeApp.enterprise.country">Country</span></dt>
        <dd>
          <span jhiTranslate="{{ 'readyToPlanBeApp.Country.' + enterprise.country }}">{{ enterprise.country }}</span>
        </dd>
        <dt><span jhiTranslate="readyToPlanBeApp.enterprise.phoneNumber">Phone Number</span></dt>
        <dd>
          <span>{{ enterprise.phoneNumber }}</span>
        </dd>
        <dt><span jhiTranslate="readyToPlanBeApp.enterprise.description">Description</span></dt>
        <dd>
          <span>{{ enterprise.description }}</span>
        </dd>
        <dt><span jhiTranslate="readyToPlanBeApp.enterprise.amount">Amount</span></dt>
        <dd>
          <span>{{ enterprise.amount }}</span>
        </dd>
        <dt><span jhiTranslate="readyToPlanBeApp.enterprise.currency">Currency</span></dt>
        <dd>
          <span jhiTranslate="{{ 'readyToPlanBeApp.Currency.' + enterprise.currency }}">{{ enterprise.currency }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/enterprise', enterprise.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
