<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="financialForecast">
      <h2 data-cy="financialForecastDetailsHeading">
        <span jhiTranslate="readyToPlanBeApp.financialForecast.detail.title">Financial Forecast</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ financialForecast.id }}</span>
        </dd>
        <dt><span jhiTranslate="readyToPlanBeApp.financialForecast.startDate">Start Date</span></dt>
        <dd>
          <span>{{ financialForecast.startDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="readyToPlanBeApp.financialForecast.durationInMonths">Duration In Months</span></dt>
        <dd>
          <span>{{ financialForecast.durationInMonths }}</span>
        </dd>
        <dt><span jhiTranslate="readyToPlanBeApp.financialForecast.manualBusinessPlan">Manual Business Plan</span></dt>
        <dd>
          <div *ngIf="financialForecast.manualBusinessPlan">
            <a [routerLink]="['/manual-business-plan', financialForecast.manualBusinessPlan.id, 'view']">{{
              financialForecast.manualBusinessPlan.name
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/financial-forecast', financialForecast.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
