<div>
  <h2 id="page-heading" data-cy="RevenueForecastHeading">
    <span jhiTranslate="readyToPlanBeApp.revenueForecast.home.title">Revenue Forecasts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="readyToPlanBeApp.revenueForecast.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-revenue-forecast"
        [routerLink]="['/revenue-forecast/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="readyToPlanBeApp.revenueForecast.home.createLabel"> Create a new Revenue Forecast </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="revenueForecasts?.length === 0">
    <span jhiTranslate="readyToPlanBeApp.revenueForecast.home.notFound">No Revenue Forecasts found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="revenueForecasts && revenueForecasts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="month">
            <div class="d-flex">
              <span jhiTranslate="readyToPlanBeApp.revenueForecast.month">Month</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="year">
            <div class="d-flex">
              <span jhiTranslate="readyToPlanBeApp.revenueForecast.year">Year</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="unitsSold">
            <div class="d-flex">
              <span jhiTranslate="readyToPlanBeApp.revenueForecast.unitsSold">Units Sold</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalRevenue">
            <div class="d-flex">
              <span jhiTranslate="readyToPlanBeApp.revenueForecast.totalRevenue">Total Revenue</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="productOrService.nameProductOrService">
            <div class="d-flex">
              <span jhiTranslate="readyToPlanBeApp.revenueForecast.productOrService">Product Or Service</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="financialForecast.startDate">
            <div class="d-flex">
              <span jhiTranslate="readyToPlanBeApp.revenueForecast.financialForecast">Financial Forecast</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let revenueForecast of revenueForecasts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/revenue-forecast', revenueForecast.id, 'view']">{{ revenueForecast.id }}</a>
          </td>
          <td jhiTranslate="{{ 'readyToPlanBeApp.Month.' + revenueForecast.month }}">{{ revenueForecast.month }}</td>
          <td>{{ revenueForecast.year }}</td>
          <td>{{ revenueForecast.unitsSold }}</td>
          <td>{{ revenueForecast.totalRevenue }}</td>
          <td>
            <div *ngIf="revenueForecast.productOrService">
              <a [routerLink]="['/product-or-service', revenueForecast.productOrService.id, 'view']">{{
                revenueForecast.productOrService.nameProductOrService
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="revenueForecast.financialForecast">
              <a [routerLink]="['/financial-forecast', revenueForecast.financialForecast.id, 'view']">{{
                revenueForecast.financialForecast.startDate
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/revenue-forecast', revenueForecast.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/revenue-forecast', revenueForecast.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(revenueForecast)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="revenueForecasts && revenueForecasts.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
