<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-revenue-forecast-heading"
        data-cy="RevenueForecastCreateUpdateHeading"
        jhiTranslate="readyToPlanBeApp.revenueForecast.home.createOrEditLabel"
      >
        Create or edit a Revenue Forecast
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="readyToPlanBeApp.revenueForecast.month" for="field_month">Month</label>
          <select class="form-control" name="month" formControlName="month" id="field_month" data-cy="month">
            <option [ngValue]="null">{{ 'readyToPlanBeApp.Month.null' | translate }}</option>
            <option *ngFor="let month of monthValues" [value]="month">{{ 'readyToPlanBeApp.Month.' + month | translate }}</option>
          </select>
          <div *ngIf="editForm.get('month')!.invalid && (editForm.get('month')!.dirty || editForm.get('month')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('month')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="readyToPlanBeApp.revenueForecast.year" for="field_year">Year</label>
          <input type="number" class="form-control" name="year" id="field_year" data-cy="year" formControlName="year" />
          <div *ngIf="editForm.get('year')!.invalid && (editForm.get('year')!.dirty || editForm.get('year')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('year')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('year')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 1900 }"
            >
              This field should be at least 1900.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('year')?.errors?.max"
              jhiTranslate="entity.validation.max"
              [translateValues]="{ max: 2100 }"
            >
              This field cannot be more than 2100.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('year')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="readyToPlanBeApp.revenueForecast.unitsSold" for="field_unitsSold">Units Sold</label>
          <input type="number" class="form-control" name="unitsSold" id="field_unitsSold" data-cy="unitsSold" formControlName="unitsSold" />
          <div *ngIf="editForm.get('unitsSold')!.invalid && (editForm.get('unitsSold')!.dirty || editForm.get('unitsSold')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('unitsSold')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('unitsSold')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('unitsSold')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="readyToPlanBeApp.revenueForecast.totalRevenue" for="field_totalRevenue"
            >Total Revenue</label
          >
          <input
            type="number"
            class="form-control"
            name="totalRevenue"
            id="field_totalRevenue"
            data-cy="totalRevenue"
            formControlName="totalRevenue"
          />
          <div
            *ngIf="editForm.get('totalRevenue')!.invalid && (editForm.get('totalRevenue')!.dirty || editForm.get('totalRevenue')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('totalRevenue')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('totalRevenue')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('totalRevenue')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="readyToPlanBeApp.revenueForecast.productOrService" for="field_productOrService"
            >Product Or Service</label
          >
          <select
            class="form-control"
            id="field_productOrService"
            data-cy="productOrService"
            name="productOrService"
            formControlName="productOrService"
            [compareWith]="compareProductOrService"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="productOrServiceOption" *ngFor="let productOrServiceOption of productOrServicesSharedCollection">
              {{ productOrServiceOption.nameProductOrService }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="readyToPlanBeApp.revenueForecast.financialForecast" for="field_financialForecast"
            >Financial Forecast</label
          >
          <select
            class="form-control"
            id="field_financialForecast"
            data-cy="financialForecast"
            name="financialForecast"
            formControlName="financialForecast"
            [compareWith]="compareFinancialForecast"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="financialForecastOption" *ngFor="let financialForecastOption of financialForecastsSharedCollection">
              {{ financialForecastOption.startDate }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
