<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="expenseForecast">
      <h2 data-cy="expenseForecastDetailsHeading">
        <span jhiTranslate="readyToPlanBeApp.expenseForecast.detail.title">Expense Forecast</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ expenseForecast.id }}</span>
        </dd>
        <dt><span jhiTranslate="readyToPlanBeApp.expenseForecast.label">Label</span></dt>
        <dd>
          <span>{{ expenseForecast.label }}</span>
        </dd>
        <dt><span jhiTranslate="readyToPlanBeApp.expenseForecast.monthlyAmount">Monthly Amount</span></dt>
        <dd>
          <span>{{ expenseForecast.monthlyAmount }}</span>
        </dd>
        <dt><span jhiTranslate="readyToPlanBeApp.expenseForecast.financialForecast">Financial Forecast</span></dt>
        <dd>
          <div *ngIf="expenseForecast.financialForecast">
            <a [routerLink]="['/financial-forecast', expenseForecast.financialForecast.id, 'view']">{{
              expenseForecast.financialForecast.startDate
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/expense-forecast', expenseForecast.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
